/*Serviços*/
#servicos {
    @include base-sections;
    padding: 30px;
}

#servicos div {
    @include base-sections;
    text-align: center;
    margin-top: 30px;
}

#servicos div img {
    width: 80%;
    transform: scale(80%);
    transition: transform 0.5s;
}

#servicos div img:hover {
    transform: scale(120%);
}
