/*Cabeçalho*/
header {
    @include base-sections;
    background-image: url("../img/fundo-pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $text-color;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: $text-color;
}

header p {
    margin-bottom: 2em;
}
