@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Asap", sans-serif;
}

.botao {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #191970;
  font-size: 0.9em;
  border-radius: 3px;
}

#sobre .botao {
  background-color: #ffffff;
  color: #1c1c1c;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191970;
}

nav > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  font-size: 2rem;
  font-family: "Asap", serif;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
}

nav ul li {
  text-align: center;
  width: 100%;
}

nav ul li a {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

/*Cabeçalho*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/fundo-pc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #ffffff;
}

header p {
  margin-bottom: 2em;
}

#sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 10px 20px 20px;
  background-color: #191970;
  color: #ffffff;
}

#sobre h2 {
  color: #ffffff;
}

#sobre p {
  margin-bottom: 2.5em;
  max-width: 1000px;
}

/*Serviços*/
#servicos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

#servicos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 30px;
}

#servicos div img {
  width: 80%;
  -webkit-transform: scale(80%);
          transform: scale(80%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#servicos div img:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

/*Imagens*/
#imagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

#imagens h2 {
  margin-bottom: 20px;
}

#imagens img {
  width: 100%;
}

/*Contato*/
#contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
}

#contato h2 {
  color: #000000;
}

/*Rodapé*/
footer {
  text-align: center;
  padding: 10px;
  background-color: #191970;
  color: #ffffff;
}

footer a {
  text-decoration: none;
  color: #00ffff;
}

/*@Media-Queries*/
@media screen and (min-width: 768px) {
  /*nav*/
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
  }
  /*Cabeçalho*/
  header {
    height: 60vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Sobre*/
  #sobre {
    height: 30vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 250px;
  }
  /*Serviços*/
  #servicos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
  }
  #servicos h2 {
    text-align: center;
    width: 100%;
  }
  #servicos div {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
    padding: 0 10px;
  }
  /*Fotos*/
  #fotos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #fotos h2 {
    text-align: center;
    width: 100%;
  }
  #fotos img {
    width: 33.333333%;
  }
  /*Contato*/
  #contato {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 500px;
    margin: 0 auto;
  }
  #contato h2,
  #contato p {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */